[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
simpy = "*"
matplotlib = "*"
environs = "*"
seaborn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
